
@{
    ViewData["Title"] = "SuccessFullRegister";
}

<h1>SuccessFullRegister</h1>
<div class="alert alert-success" role="alert">
    <h4 class="alertheading">You have registered successfully!!</h4>
</div>
<ul class="nav">
    <li class="nav-item">
        <a class="nav-link" asp-action="" asp-controller="">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-action="" asp-controller="">Login</a>
    </li>
</ul>

